//COLOR 
$CorCinza:#CCCCCC;
$CorCinzaClaro:#EEEEEE;
$CorCinzaClaro1:#F4F4F4;
$CorCinzaEscuro:#555555;
$CorCinzaEscuro2:#262626;
$CorAzulClaro:#22C9E7;//#3DAFA7
$sCorAzulClaro6:#296E98;
$CorAzulEscuro:#212735;
$CorDark:#1D1F21;
$CorBranco:#FFFFFF;
$sCorRosa:#FF0066;

//FADE-OUT
    $Opacity:0.5;
    $CORCINZA:fade-out($CorCinza,$Opacity);
    //$CORROXO:fade-out($CorRoxo,$Opacity);
    //$sORROSA:fade-out($CorRosa,$Opacity);


/*

//COR
$sCorPreto:#000000;
$sCorAzulEscuro:#052027;
$sCorAzulEscuro1:#184158;
$sCorAzulClaro:#22C9E7;
$sCorAzulClaro2:#0D6575;
$sCorAzulClaro3:#3C8DBC;
$sCorAzulClaro4:#367FA9;
$sCorAzulClaro5:#0F5F73;

$sCorAmarelo:#FFFF00;
$sCorRosa:#FF0066;
$sCorRosaEscuro:#F5203E;
$sCorRosaEscuro1:#A0071F;

$sCorRoxo:#8712fa;
$sCorVerdeClaro:#44D08C;
$sCorVerdeEscuro:#259460;
$sCorLaraja:#E06023;
$sCorLarajaEscuro:#943E14;
$sCorVinho:#B3474F;
$sCorVinhoEscuro:#943A41;

*/