//COLOR 
//cinza
$CorCinza:#CCCCCC;
$CorCinzaClaro:#EEEEEE;
$CorCinzaClaro1:#F4F4F4;
$CorCinzaEscuro:#555555;
$CorCinzaEscuro2:#262626;
//azul
$CorAzulClaro:#22C9E7;//#3DAFA7
$CorAzulClaro2:#0D6575;
$CorAzulClaro3:#3C8DBC;
$CorAzulClaro4:#367FA9;
$CorAzulClaro5:#0F5F73;
$CorAzulClaro6:#296E98;
$CorAzulEscuro:#212735;

$CorDark:#1D1F21;
$CorBranco:#FFFFFF;
$CorPreto:#000000;
$CorRosa:#FF0066;

//FADE-OUT
    $Opacity:0.5;
    $CORCINZA:fade-out($CorCinza,$Opacity);
    //$CORROXO:fade-out($CorRoxo,$Opacity);
    //$sORROSA:fade-out($CorRosa,$Opacity);


/*

//COR

$sCorAzulEscuro:#052027;
$sCorAzulEscuro1:#184158;


$sCorAmarelo:#FFFF00;
$sCorRosa:#FF0066;
$sCorRosaEscuro:#F5203E;
$sCorRosaEscuro1:#A0071F;

$sCorRoxo:#8712fa;
$sCorVerdeClaro:#44D08C;
$sCorVerdeEscuro:#259460;
$sCorLaraja:#E06023;
$sCorLarajaEscuro:#943E14;
$sCorVinho:#B3474F;
$sCorVinhoEscuro:#943A41;

*/